@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}
nav {
  background: #2c3e50;
  padding: 15px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
nav a {
  color: azure;
  text-decoration: none;
  padding: 32px;
}
.contenedor {
  margin: auto;
  text-align: center;
  padding: 32px;
}

#cetrarImagen {
  text-align: center;
  padding: 32px;
}
.banner {
  background-color: #2c3e50;
  background-image: -moz-linear-gradient(rgb(29, 27, 27));
}

footer {
  background: #2c3e50;
  padding: auto;
  text-align: center;
  color: azure;
}
.contendorFlexible {
  border: 0px solid gray;
  display: flex;
  margin-bottom: 0px;
  justify-content: space-evenly;
}
.equipoFaseBlanco {
  background: rgb(237, 241, 241);
  border: 1px solid gray;
  position: relative;
  width: auto;
  height: auto;
}
.equipoFaseGris {
  background: rgb(218, 215, 215);
  border: 1px solid gray;
  position: relative;
  width: auto;
  height: auto;
}
.grupo {
  background: rgb(13, 97, 206);
  border: 1px solid gray;
}

#parrafoSticky {
  position: sticky;
  top: 30px;
}
.rectangulo {
  border: 1px solid;
  display: flex;
}

.contenedorPosicion {
  border: 1px;
  position: relative;
}

/* dispositivos small */

@media all and (max-width: 767px) {
  #centrarImagen img {
    width: 100%;
  }

  nav a {
    padding: 13px;
  }

  .contenedorFlexible {
    flex-wrap: wrap;
  }

  .contenedorFlexible aside {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* dispositivos medium */

@media screen and (min-width: 768px) and (max-width: 991px) {
  #centrarImagen img {
    width: 100%;
  }

  .contenedorFlexible {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .contenedorFlexible aside {
    width: 32%;
    margin: 10px;
  }
}
